@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-color: 0, 0, 0;
  --background-light: 0, 0, 0;
  --background-dark: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-color: 0, 0, 0;
    --background-light: 0, 0, 0;
    --background-dark: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-color));
  background: linear-gradient(180deg, rgba(var(--background-light), 1) 0%, rgba(var(--background-dark), 1) 100%);
}

.bg-light {
  background-color: rgb(var(--background-light));
}

.bg-dark {
  background-color: rgb(var(--background-dark));
}
